body{
  background: #f2f2f2;
  font-family: helvetica, arial, san-serif;
}
.instagram-card,.instagram-card-user{
  max-width: 480px;
  margin: 0 auto;
  padding:0.6rem;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 4px;
}
.instagram-card-header,.instagram-card-header-user{
  padding: 15px;
  padding-top: 40px;
  display: flex;
  align-items: center;
}
.instagram-card-user-image,.instagram-card-user-image-user{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 15px;
}
.instagram-card-user-name,.instagram-card-user-name-user{
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}
.instagram-card-image img,.instagram-card-image-user img{
  width:100%;
  
}
.instagram-card-content,.instagram-card-content-user{
  padding: 15px;
}
.instagram-card-content,.instagram-card-content-user a{
  color: #000;
  text-decoration: none;
  font-weight: bold;
}
.instagram-card-icon{
  font-size: 24px;
  color: #000;
  margin-right: 10px;
}
.instagram-bookmark{
  float: right;
  margin-right: 0;
}
.date{
  font-size: 10px;
  color: #ccc;
  text-transform: uppercase;
}
hr{
  border: none;
  border-bottom: 1px solid #ccc;
  margin: 0;
}
.instagram-card-footer,.instagram-card-footer-user{
  padding: 15px;
  padding-top: 0;
}
.instagram-card-input,.instagram-card-input-user{
  border: none;
  outline: none;
  width: 90%;
}