<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Website</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://s3-us-west-2.amazonaws.com/s.cdpn.io/6035/grid.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat'>
    <link rel='stylesheet' href='https://s3-us-west-2.amazonaws.com/s.cdpn.io/6035/icomoon-scrtpxls.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="./assets/css/userProfile.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/Footer.css">

</head>

<body onLoad="init(), colorMBTI()" style="padding-top: 0;">
    <div id="header">
        <div class="container-fluid">
            <nav class=" navbar navbar-expand-lg navbar-light bg-transparent">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Logo</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link btn-dark" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn-dark" href="#">Perfil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn-dark" href="#">Contatos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn-dark" href="#">Destaques</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn-dark" href="#">Calendario</a>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-dark" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- partial:index.partial.html -->
    <div class="container whole-profile" style="max-width: none;">
        <div class="grid_4">
            <section class="box widget locations">
                <div class="avatar">
                </div>
                <div class="details">

                </div>
            </section>
            <section class="box widget calendar">
                <header class="header">
                    <h2>Saturday</h2>
                    <p><span class="icon-arrow-left"></span>January<span class="icon-arrow-right"></span></p>
                </header>
                <article class="days">
                    <ul>
                        <li class="previous">30</li>
                        <li class="previous">31</li>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li>7</li>
                        <li>8</li>
                        <li>9</li>
                        <li>10</li>
                        <li>11</li>
                        <li>12</li>
                        <li>13</li>
                        <li>14</li>
                        <li>15</li>
                        <li>16</li>
                        <li>17</li>
                        <li>18</li>
                        <li>19</li>
                        <li>20</li>
                        <li>21</li>
                        <li>22</li>
                        <li>23</li>
                        <li>24</li>
                        <li>25</li>
                        <li>26</li>
                        <li>27</li>
                        <li>28</li>
                        <li>29</li>
                        <li>30</li>
                        <li>31</li>
                        <li class="next">1</li>
                        <li class="next">2</li>
                    </ul>
                </article>
            </section>
        </div>
        <div class="grid_8">
            <nav class="box nav">
                <ul>
                    <li>
                        <a href="#">
                            <span class="icon-home"></span><br />
                            <span class="title">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="icon-images"></span><br />
                            <span class="title">Gallery</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="icon-bubble"></span><br />
                            <span class="title">Message</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="icon-music"></span><br />
                            <span class="title">Music</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="icon-search"></span><br />
                            <span class="title">Search</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="icon-cog"></span><br />
                            <span class="title">Settings</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="icon-location"></span><br />
                            <span class="title">Location</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="inner_container">
                <div class="col_1of3">

                    <section class="box widget find" style="margin-top:1.2rem">
                        <input type="text" name="find" placeholder="Find your city place" />
                        <label for="favorite" class="checkbox">
                            <input type="checkbox" id="favorite" name="favorite" />
                            Add to favorites
                        </label>
                        <a href="#" class="btn btn-primary btn-large btn-block">Search</a>
                    </section>

                    <section class="box widget weather" style="margin-top:1.2rem">
                        <header class="header">
                            <div class="temp">10&#176; <span class="icon-brightness-half"></span></div>
                            <span class="icon-partlycloudy"></span>
                        </header>
                        <article>
                            <h2>Saturday 16 January</h2>
                        </article>
                    </section>

                    <section class="box widget weather" style="margin-top:1.2rem">
                        <header class="header">
                            <div class="temp">
                                <p id="mbti">INTP</p> <span class="fa fa-cogs"></span>
                            </div>
                            <span class="icon-partlycloudy"></span>
                        </header>
                        <article>
                            <h2>Sua personalidade MBTI</h2>
                        </article>
                    </section>
                </div>
                <div class="col_2of3">
                    <article class="box post" style="margin-top:1.2rem">
                        <div class="image">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/6035/scrtpxls_post.png" />
                        </div>
                        <div class="details">
                            <h2>Amsterdan</h2>
                            <p>Oi galera sou novo por aqui,gostaria de encontrar algumas novas amizades </p>
                        </div>
                    </article>
                </div>
                <div class="col_2of3">
                </div>
                <div class="col_1of3">
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>
        var r = document.querySelector(':root');
        var rs = getComputedStyle(r);
        var analysts = rs.getPropertyValue('--analysts_color');
        var diplomats = rs.getPropertyValue('--diplomats_color');
        var sentinels = rs.getPropertyValue('--sentinels_color');
        var explorers = rs.getPropertyValue('--explorers_color');


        console.log(r);
        const mbti = document.getElementById("mbti");
        const texto = mbti.innerText; 

        function colorMBTI() {
            if (texto == 'INTJ' || texto == 'INTP' || texto == 'ENTJ' || texto == 'ENTP') {
                r.style.setProperty('--default-page-color', `${analysts}`);
            }
            else if(texto == 'INFJ' || texto == 'INFP' || texto == 'ENFJ' || texto == 'ENFP')
            {
                r.style.setProperty('--default-page-color', `${diplomats}`);
            }
            else if (texto == 'ISTJ' || texto == 'ISFJ' || texto == 'ESTJ' || texto == 'ESFJ')
            {
                r.style.setProperty('--default-page-color', `${sentinels}`);
            }
            else if (texto == 'ISTP' || texto == 'ISFP' || texto == 'ESTP' || texto == 'ESFP')
            {
                r.style.setProperty('--default-page-color', `${sentinels}`);
            }
        }
    </script>
    <script>


        function init() {
            $.ajax({
                url: 'https://randomuser.me/api/?results=1&nat=br&exc=login',
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    var dados = data;
                    console.log(data.results[0].name.first);
                    console.log(data.results[0].name.last);
                    console.log(data.results[0].picture.large);
                    console.log(data.results[0].email);
                    $('.avatar').append(`<img src="${data.results[0].picture.large}" />`);
                    $('.details').append(`<h2>${data.results[0].name.first} ${data.results[0].name.last}</h2>
                    <p>${data.results[0].email}</p>
                    <h2>${data.results[0].cell}</h2>`);
                    $('.box widget video').append(`<img src="${data.results[0].picture.thumbnail}" alt="" />`)

                }
            });

        }

    </script>
    <!-- partial -->
    <!--script da navbar!-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
        </script>
</body>

</html>