/* * CSS stylesheet by Felipe Augusto Morais Silva */

:root{
  /*Variavel pra cor padrao do site*/
  --neonColor100: rgba(4, 0, 255, 1);
  --neonColor035: rgba(4, 0, 255, 0.35);
 }
.events {
    color: #313437;
    background-color: #fff;
  }
  .container-fluid.events {
    display: grid;
    justify-content: center;
  }
  .row {
    justify-content: space-evenly;
  }
  .intro{
    padding-bottom: 1rem;
  }
  
  /** ------------------------------Parte de texto dos grupos------------------------- */
  .card.mb-3{
    margin: 2rem;
  }
  a {
    color: inherit;
    text-decoration: inherit;
  }
  
  /*!------------------------------ End parte do texto dos grupos------------------------- */
  /**------------------------------Decoracoes dos cards e animacoes-------------------------*/
.card-img {
    max-width: 30rem;
}
.card {
    /* border-image: linear-gradient(to right, blue, green, pink, yellow, purple) 30; */
    border: 0.2rem solid rgba(255, 255, 255, 0.125);
    border-radius: calc(.25rem - 1px);
    margin: 1rem;
}

.card:hover {
  /*animacao do card*/
  border-radius: calc(.25rem - 1px);
  animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

 @keyframes shake-bottom {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
    box-shadow: 0 0 20px 0px var(--neonColor035);
  }
  10% {
    transform: rotate(1deg);
    box-shadow: 0 0 20px 0px var(--neonColor035);
  }
  20%,
  40%,
  60% {
    transform: rotate(-2deg);
    box-shadow: 0 0 20px 0px var(--neonColor035);
  }
  30%,
  50%,
  70% {
    transform: rotate(2deg);
    box-shadow: 0 0 20px 0px var(--neonColor035);
  }
  80% {
    transform: rotate(-1deg);
    box-shadow: 0 0 20px 0px var(--neonColor035);
  }
  90% {
    transform: rotate(1deg);
    box-shadow: 0 0 20px 0px var(--neonColor035);
  }
}

.shadow-drop-2-center {
  -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes shadow-drop-2-center {
  0% {
      /*Translate da sombra do card*/ 
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-2-center {
  /*Translate da sombra do card*/ 
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}


.card a:hover{
	animation: color-change 1.5s linear alternate both;

}

@keyframes color-change {
  0% {
    color: black;
    background: initial;
  }
  50%
  {
    color: #313437;
  }
  100% {
    color: white;
    background: var(--neonColor035);
  }
}



/* *, ::after, ::before {
  box-sizing: none;
} */

  /*!------------------------------END Decoracoes dos cards e animacoes-------------------------*/
 /**----------------------------------Parte das imagens dos grupos-----------------------------*/
 