@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

html{
    height:100%;
    width:100%;
}
*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:'Poopins',sans-serif;
    
}
label {
    font-weight: bolder;
}

h1 {
     text-align: center;
}
input:invalid {
    border: 2px dashed red;
}
  
input:valid {
    border: 2px solid black;
}
#descricao{
    margin-top:2rem;
}
 #inputDescricao,#inputInteresses{
     text-align:center;
     height:16.8rem;
 }
 #msg {
     height: 60px;
 }
 
 #grid-contatos tbody {
     cursor: pointer;
 }
